Source: bsl-internal
Section: unknown
Priority: extra
Maintainer: Mike Giroux <mgiroux@bloomberg.net>
Build-Depends: bde-internal-tools (>> 3.11)
Standards-Version: 3.8.4

Package: bsl-internal-bdemeta
Architecture: any
Description: bsl-internal bde metadata
 bde metadata for the bsl-internal source package



Package: libbal-dev-extra
Depends: libbdl-dev-extra, libbsl-dev-extra
Architecture: any
Conflicts: libbal-dev (< ${source:Version}), libbal-extra-dev
Description: BAL
 groups/bal extra libraries

Package: libbbl-dev-extra
Depends: libbdl-dev-extra, libbsl-dev-extra
Architecture: any
Conflicts: libbbl-dev (< ${source:Version}), libbbl-extra-dev
Description: BBL
 groups/bbl extra libraries

Package: libbdl-dev-extra
Depends: libbsl-dev-extra, libinteldfp-dev, libpcre2-dev
Architecture: any
Conflicts: libbdl-dev (< ${source:Version}), libbdl-extra-dev
Description: BDL
 groups/bdl extra libraries

Package: libbsl-dev-extra
Architecture: any
Conflicts: libbsl-dev (< ${source:Version}), libbsl-extra-dev
Description: BSL 
 groups/bsl extra libraries



Package: libbal-dev
Depends: libbal-dev-extra, libbdl-dev, libbsl-dev
Architecture: any
Conflicts: libbal-extra-dev
Description: BAL
 groups/bal development files

Package: libbbl-dev
Depends: libbbl-dev-extra, libbdl-dev, libbsl-dev
Architecture: any
Conflicts: libbbl-extra-dev
Description: BBL
 groups/bbl development files

Package: libbdl-dev
Depends: libbdl-dev-extra, libbsl-dev, libdecnumber-dev, libinteldfp-dev, libpcre2-dev
Architecture: any
Conflicts: libbdl-extra-dev
Description: BDL
 groups/bdl development files

Package: libbos-dev
Depends: libbsl-dev
Architecture: any
XB-X-Blp-Private-Dependency-From: robobuild-meta, bsloverridesstd
Description: BOS
 groups/bos 'BSL_OVERRIDES_STD' development files.  This library is private, do not use it.

Package: libbsl-dev
Depends: libbsl-dev-extra
Architecture: any
Conflicts: libbsl-extra-dev
Description: BSL 
 groups/bsl development files

Package: libdecnumber-dev
Architecture: any
Description: DecNumber Library

Package: libinteldfp-dev
Architecture: any
Description: Intel Decimal Floating-Point Math Library

Package: libpcre2-dev
Architecture: any
Description: PCRE 2 Regular Expression Library
