Source: bde-core
Section: unknown
Priority: extra
Maintainer: Mike Giroux <mgiroux@bloomberg.net>
Build-Depends: bde-tools, bde-oss-tools, rssuite-tools, libbsl-dev, python, pkg-config
Standards-Version: 3.8.4

Package: bde-core-bdemeta
Architecture: any
Description: bde-core bde metadata
 bde metadata for the bde-core source package

Package: libbae-dev
Depends: libbsl-dev, libbce-dev (= ${binary:Version}), libbde-dev (= ${binary:Version})
Architecture: any
Description: BAE
 groups/bae static library and headers

Package: libbce-dev
Depends: libbsl-dev, libbde-dev (= ${binary:Version})
Architecture: any
Description: BCE
 groups/bce static library and headers

Package: libbde-dev
Depends: libbsl-dev
Architecture: any
Description: BDE
 groups/bde static library and headers

Package: libbte-dev
Depends: libbsl-dev, libbce-dev (= ${binary:Version}), libbde-dev (= ${binary:Version})
Architecture: any
Description: BTE
 groups/bte static library and headers

Package: libbbe-dev
Depends: libbsl-dev, libbde-dev (= ${binary:Version})
Architecture: any
Description: BBE
 groups/bbe static library and headers
